#secPrincipal {
    float: right;
    width: 88%;
    height: 82vh;
    background-color: white;
    transition: width 0.3s;
    overflow-x: auto;
  }

.titulo-principal {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.subtitulo {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.contenedor-tabla {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tabla-inspeccion {
  width: 90%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
}

.tabla-inspeccion th,
.tabla-inspeccion td {
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
}

.tabla-inspeccion th {
  background-color: #803344;
  color: white;
}

.btn-editar {
  background: none;
  border: none;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.asignacion-contenedor {
  text-align: center;
  margin-top: 40px;
}

.instruccion {
  font-size: 16px;
  margin-bottom: 10px;
}

.dropdown-inspector {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-continuar {
  background-color: #b58b53;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-continuar:hover {
  background-color: #9e7743;
}
