#secPrincipal {
    float: right;
    width: 88%;
    height: 82vh;
    background-color: white;
    transition: width 0.3s;
  }

  #secPrincipal.expanded {
    width: calc(100% - 50px);
  }

  .inicio-container {
  padding: 40px;
}

.inicio-container h2 {
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: bold;
}

.opciones-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.opcion {
  background-color:#DFDFDF;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: left;
}

.opcion:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.opcion h3 {
  font-size: 25px;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.opcion p {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: white;
}

.opcion i {
  font-size:80px;
  color: #5C5C5C;
  margin-left: 180px;
}

.tarjeta-color {
  background-color: #BC955B;
  color: white;
}

.tarjeta-color i {
  color: #1E1E1E;
}

