#secPrincipal {
    float: right;
    width: 88%;
    height: 82vh;
    background-color: #E9E9E9;
    transition: width 0.3s;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
#secPrincipal.expanded {
    width: calc(100% - 50px);
  }

  #sec-Empleados{
    width: 95%;
    height: 90%;
    margin-top: 1%;
    
  }
  #header-empleados{    
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #header-titulo{
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  h1{
    font-size: 34px;
  }

  #header-nav{      
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;   
    align-items: center;       
  }
 
  /* Contenedor de búsqueda */
#search-container {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  width: 75%;    
}

#search-container i {
  font-size: 18px;
  margin-right: 8px;
  color: black;
}

#search-input {
  border: none;
  outline: none;  
  font-size: 16px;
}

/* Contenedor de filtros */
#filter-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;  
}

.filter-option {
  font-size: 16px;  
  margin: 0 10px;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s, font-weight 0.3s;
}

.filter-option.active {
  color: grey;
  text-decoration: underline;
}
  
  #header-titulo, #header-botones{    
    width: 30%;
    height: 80%;
  }
  /* Contenedor de los botones */
#header-botones {  
  display: flex;
  justify-content: flex-end; /* Alinear todo a la derecha */
  align-items: center; /* Centrar verticalmente */
  gap: 10px; /* Espaciado entre los botones */
  padding-right: 20px; /* Espaciado del lado derecho */
}

#historial-btn {
  background-color: #F3F3F3;
  color: black;
  border: 1px solid #818181;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50%;
  border-radius: 8px;
  cursor: pointer;
}

#historial-btn i {
  margin-right: 8px;
}

#alta-btn {
  background-color: #BC955B;
  color: white;
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 70%;
  border-radius: 8px;
  cursor: pointer;
}

#sec-tabla{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;    
}

/*tabla*/
.tabla-empleados {
  width: 100%;  
  border-collapse: collapse;  
  border: 1px solid #691B32;
}

.tabla-empleados thead {
  background-color: #9A566A;
  color: white;
}

.tabla-empleados th {
  padding: 10px;
  text-align: center;
}

.tabla-empleados td {
  padding: 10px;
  text-align: center;
  color: black;
  white-space: nowrap;
}

.tabla-empleados tr.par {
  background-color: #E9E9E9;
}

.tabla-empleados tr.impar {
  background-color: white;
}

.tabla-empleados tbody tr:hover {
  background-color: #EEEEEE;
}

.opciones {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.opciones i {
  cursor: pointer;
}

/*paginación */
.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 10px;
  margin-top: 7px;
}

.paginacion button {
  background-color: #9A566A;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.paginacion button:disabled {
  background-color: #E9E9E9;
  cursor: not-allowed;
  color: #888;
}
