<aside id="aside" [class.collapsed]="isCollapsed">

    <div id="menuAside">
      <div id="menuPalabra" *ngIf="!isCollapsed">MENÚ</div>
      <div id="menuIcon" (click)="toggleAside()">
        <i class="fa-solid fa-bars fa-lg" style="color: #ffffff;"></i>
      </div>    
    </div>
    
    <a href="../inicio/"class="casa">
      <div class="divEnlaces">
        <div class="iconoEnlace">
          <i class="fa-solid fa-house-chimney fa-lg"style="color: #02a22a;" ></i>
        </div>
        <div class="textoEnlace">
          <p>Inicio</p>
        </div>
      </div>
    </a>
    
    <a href="../inicios-obra/"class="iniciosObra">
      <div class="divEnlaces">
        <div class="iconoEnlace">
            <i class="fa-solid fa-bell fa-lg" style="color: #BC955B;"></i>
        </div>
        <div class="textoEnlace">
          <p>Inicio de Obra</p>
        </div>
      </div>
    </a>
    
    <a href="../visitas/"class="visitas">
      <div class="divEnlaces">
        <div class="iconoEnlace">
            <i class="fa-solid fa-address-book fa-lg" style="color: #5ADB6D;"></i>
        </div>
        <div class="textoEnlace">
          <p>Visitas</p>
        </div>
      </div>
    </a>

    <a href="../empleados/"class="empleados">
      <div class="divEnlaces">
        <div class="iconoEnlace">
          <i class="fa-solid fa-users-line fa-lg" style="color: #691B32;"></i>
        </div>
        <div class="textoEnlace">
          <p>Empleados</p>
        </div>
      </div>
    </a>
  
    <a href="../perfil/"class="perfil">
    <div class="divEnlaces">
      <div class="iconoEnlace">
        <i class="fa-solid fa-user fa-lg" style="color: #000000;"></i>
      </div>
      <div class="textoEnlace">
        <p>Perfil</p>
      </div>
    </div>
    </a>
    
    <a (click)="abrirModalCerrarSesion()" class="logout">
      <div class="divEnlaces">
        <div class="iconoEnlace">
          <i class="fa-solid fa-right-from-bracket fa-lg" style="color: #C92929;"></i>
        </div>
        <div class="textoEnlace">
          <p>Cerrar sesión</p>
        </div>
      </div>
    </a>
    
    
    
  
  </aside>
  <router-outlet></router-outlet>