#aside{
    background-color: #5C5C5C;
    float: left;
    width: 12%;
    height: 76vh;
    transition: width 0.3s;    /* animación suave */
    overflow: hidden;   
  }
  #aside.collapsed {
    width: 50px;
  }
  #aside.collapsed .textoEnlace p {
    display: none; /* Oculta el texto de cada enlace */
  }
  #aside.collapsed #menuPalabra {
    display: none;
  }  
  #menuAside {
    background-color: #4B4A4A;
    width: 100%;
    height: 35px;    
    display: flex;
    align-items: center;        
    justify-content: space-between; 
    box-sizing: border-box;
    padding: 0 15px;           
  }
    
  #menuPalabra {    
    margin: 0;  
    color: white;
  }    
  
  .divEnlaces {    
    width: 100%;
    height: 45px;
    display: flex;             
    align-items: center;       
    box-sizing: border-box;    
    padding: 0 15px;               
  }
    
  .iconoEnlace {
    display: flex; 
    align-items: center;
    margin-right: 16px;    
    width: 16px;
    }
    
  .textoEnlace p {
    margin: 0;       
    font-size: 16px; 
    color: white;   
  }
  
  a.casa,a.iniciosObra,a.visitas, a.perfil, a.logout {
    text-decoration: none;     
  }
  

  