<!-- FOOTER (12%) -->
<footer class="footer">
    <div class="footer-content">
      <!-- Logo -->
      <img
        src="assets/images/logo_hidalgo.png"
        alt="Logo Hidalgo"
        class="footer-logo"
      />
  
      <!-- Separador vertical -->
      <div class="footer-separator"></div>
  
      <!-- Texto del footer -->
      <div class="footer-text">
        <p class="footer-title">Contraloría</p>
        <p class="footer-line">42162 San Agustín</p>
        <p class="footer-line">Tlaxiaca, Hgo.</p>
      </div>
    </div>
  </footer>
  

  <router-outlet></router-outlet>
