<header class="header">
    <div class="header-left">
      <img src="assets/images/logo_sin.png" alt="Logo" class="logo" />
      <div class="header-text">
        <p class="header-line">Dirección General de Inspección y</p>
        <p class="header-line">Vigilancia de Obras y Acciones</p>
      </div>
    </div>
  
    <!-- Sección derecha: iconos, nombre, foto de perfil -->
    <div class="header-right">      
      <i class="fa-solid fa-comments fa-xl" style="color: #ffffff;"></i>        
      <i class="fa-solid fa-bell fa-xl" style="color: #ffffff;"></i>
        
      <div id="nombre">
        <h2>Diego Miguel Escamilla Hernández - DICO</h2>
      </div>
      <a href="../perfil/"class="perfil">
        <img src="assets/images/perfil_sin.png" class="rounded-circle" id="perfil" alt="Foto de perfil" />
      </a>
    </div>
  </header>
  

  <router-outlet></router-outlet>
  