<header class="header">
    <div class="header-left">
      <img src="assets/images/logo_sin.png" alt="Logo" class="logo" />
      <div class="header-text">
        <p class="header-line">Dirección General de Inspección y</p>
        <p class="header-line">Vigilancia de Obras y Acciones</p>
      </div>
    </div>

    <!-- Sección derecha: iconos, nombre, foto de perfil -->
    <div class="header-right">
      <div class="icono-chat" (click)="toggleChat()"></div>
      <i class="fa-solid fa-comments fa-xl" style="color: #ffffff;" (click)="toggleChat()"></i>
      <span *ngIf="totalNoLeidos && totalNoLeidos > 0" class="notificacion-badge">
  {{ totalNoLeidos }}
</span>

      <i class="fa-solid fa-bell fa-xl" style="color: #ffffff;"></i>



      <div id="nombre">
        <h2 *ngIf="usuario">{{ usuario.nombres }} {{ usuario.apellidos }} - {{ usuario.direccion }}</h2>
      </div>



      <a href="../perfil/"class="perfil">
        <img [src]="fotoPerfil" class="rounded-circle" id="perfil" alt="Foto de perfil" (error)="fotoPerfil='assets/images/user-default.png'">
      </a>
    </div>
  </header>
<app-chat-sidebar
  (cerrar)="toggleChat()"
  (abrirConversacion)="abrirConversacion($event)"
  *ngIf="mostrarChat && !empleadoSeleccionado">
</app-chat-sidebar>

<app-conversacion
  *ngIf="empleadoSeleccionado"
  [usuarioActual]="usuarioActual"
  [receptor]="empleadoSeleccionado"
  (volver)="cerrarConversacion(); contarNoLeidos()"
  (mensajeEnviado)="contarNoLeidos()">
</app-conversacion>





  <router-outlet></router-outlet>
