<app-header></app-header>
<app-aside (asideToggled)="onAsideToggled($event)"></app-aside>


<section id="secPrincipal" [class.expanded]="isAsideCollapsed">
  <div class="contenedor-visitas">
    <h2 class="titulo">Visitas</h2>

    <div class="barra-superior">
      <select class="select-filtro">
        <option>Visitas Generales</option>
      </select>

      <div class="botones-superiores">
        <button class="btn-registrar" (click)="agregarVisita()">
          <i class="fa-solid fa-plus"></i> Registrar visita
        </button>
        <button class="btn-archivo">
          <i class="fa-solid fa-rotate-left"></i> Archivo
        </button>
      </div>
    </div>

    <div class="fecha-titulo">{{ visitas[0]?.fecha | date:'dd/MM/yy' }}</div>

    <div class="tabla-container">
      <table class="tabla-visitas">
        <thead>
          <tr>
            <th>Dependencia</th>
            <th>Nombre (Persona física/moral)</th>
            <th>Asunto</th>
            <th>Observaciones</th>
            <th>Teléfono</th>
            <th>Hora ingreso</th>
            <th>Hora salida</th>
            <th>Atendió</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let visita of visitas">
            <td>
              {{ visita.tipo_dependencia === 'Municipio' ? ('Municipio ' + visita.municipio_nombre) : visita.tipo_dependencia }}
            </td>
            <td>{{ visita.nombre }}</td>
            <td>{{ visita.asunto }}</td>
            <td>{{ visita.observaciones }}</td>
            <td>{{ visita.telefono }}</td>
            <td>{{ visita.hora_ingreso }}</td>
            <td>{{ visita.hora_salida }}</td>
            <td>{{ visita.atendio }}</td>
            <td>
              <i class="fa-solid fa-pen-to-square icono-editar"></i>
              <i class="fa-solid fa-trash icono-eliminar"></i>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</section>


<app-footer></app-footer>
<router-outlet></router-outlet>
