<div class="chat-panel">
  <div class="chat-header">
    <span>Chats</span>
    <i class="fa-solid fa-xmark" (click)="cerrarChat()"></i>
  </div>

  <div class="chat-search">
<input type="text" placeholder="🔍 Buscar o iniciar conversación" [(ngModel)]="terminoBusqueda">

  </div>

  <div class="chat-list">
<div class="chat-item" *ngFor="let chat of chats" (click)="seleccionarEmpleado(chat)">
  <img class="chat-avatar" [src]="getFoto(chat.foto)" alt="Avatar" />
  <div class="chat-content">
    <div class="chat-name">{{ chat.nombres }} {{ chat.apellidos }}</div>
    <div class="chat-message">{{ chat.mensaje }}</div>
  </div>
  <div class="chat-time" *ngIf="chat.fecha_envio">{{ chat.fecha_envio | date:'shortTime' }}</div>
  <span class="badge" *ngIf="chat.no_leidos > 0">{{ chat.no_leidos }}</span>
</div>




  </div>
</div>
