/* Fondo oscuro del modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Caja del modal con mayor ancho */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px; /* Aumentamos el ancho */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor de botones para alinearlos en línea */
.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25%; /* Espaciado entre botones */
}

/* Botón de Cerrar */
button {
  padding: 10px;
  border: none;
  background: #BC955B;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;

}

/* Botón de Eliminar con color rojo */
.eliminar-btn {
  background: #d32f2f; /* Rojo */
}

.eliminar-btn:hover {
  background: #b71c1c; /* Rojo oscuro */
}

button:hover {
  background: #AB8855;
}
#txtEmpleado{
  font-size: 18px;
}
