<app-header></app-header>
<app-aside (asideToggled)="onAsideToggled($event)"></app-aside>

<section id="secPrincipal" [class.expanded]="isAsideCollapsed">
    <div id="header-inicios">
        <div id="titulo-inicios">
            <h1>Avisos de Inicio de Obra</h1>
        </div>
        <div id="boton-inicios">
            <button id="btn-agregar-inicio">Agregar Inicio de Obra</button>
        </div>
    </div>
    
    <div id="aside-inicios">
        <h2>Filtrar</h2>
        <div class="separator"></div>
    
        <!-- Campos de búsqueda -->
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar clave">
        </div>
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar folio">
        </div>
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar Contratista">
        </div>
    
        <!-- Menús desplegables -->
        <select id="municipio">
            <option disabled selected>Por municipio</option>
            <option>Acatlán</option>
            <option>Acaxochitlán</option>
            <option>Actopan</option>
            <option>Agua Blanca de Iturbide</option>
            <option>Ajacuba</option>
            <option>Alfajayucan</option>
            <option>Almoloya</option>
            <option>Apan</option>
            <option>El Arenal</option>
            <option>Atitalaquia</option>
            <option>Atlapexco</option>
            <option>Atotonilco el Grande</option>
            <option>Atotonilco de Tula</option>
            <option>Calnali</option>
            <option>Cardonal</option>
            <option>Cuautepec de Hinojosa</option>
            <option>Chapantongo</option>
            <option>Chapulhuacán</option>
            <option>Chilcuautla</option>
            <option>Eloxochitlán</option>
            <option>Emiliano Zapata</option>
            <option>Epazoyucan</option>
            <option>Francisco I. Madero</option>
            <option>Huasca de Ocampo</option>
            <option>Huautla</option>
            <option>Huazalingo</option>
            <option>Huehuetla</option>
            <option>Huejutla de Reyes</option>
            <option>Huichapan</option>
            <option>Ixmiquilpan</option>
            <option>Jacala de Ledezma</option>
            <option>Jaltocán</option>
            <option>Juárez Hidalgo</option>
            <option>Lolotla</option>
            <option>Metepec</option>
            <option>San Agustín Metzquititlán</option>
            <option>Metztitlán</option>
            <option>Mineral del Chico</option>
            <option>Mineral del Monte</option>
            <option>La Misión</option>
            <option>Mixquiahuala de Juárez</option>
            <option>Molango de Escamilla</option>
            <option>Nicolás Flores</option>
            <option>Nopala de Villagrán</option>
            <option>Omitlán de Juárez</option>
            <option>San Felipe Orizatlán</option>
            <option>Pacula</option>
            <option>Pachuca de Soto</option>
            <option>Pisaflores</option>
            <option>Progreso de Obregón</option>
            <option>Mineral de la Reforma</option>
            <option>San Agustín Tlaxiaca</option>
            <option>San Bartolo Tutotepec</option>
            <option>San Salvador</option>
            <option>Santiago de Anaya</option>
            <option>Santiago Tulantepec de Lugo Guerrero</option>
            <option>Singuilucan</option>
            <option>Tasquillo</option>
            <option>Tecozautla</option>
            <option>Tenango de Doria</option>
            <option>Tepeapulco</option>
            <option>Tepehuacán de Guerrero</option>
            <option>Tepeji del Río de Ocampo</option>
            <option>Tepetitlán</option>
            <option>Tetepango</option>
            <option>Villa de Tezontepec</option>
            <option>Tezontepec de Aldama</option>
            <option>Tianguistengo</option>
            <option>Tizayuca</option>
            <option>Tlahuelilpan</option>
            <option>Tlahuiltepa</option>
            <option>Tlanalapa</option>
            <option>Tlanchinol</option>
            <option>Tlaxcoapan</option>
            <option>Tolcayuca</option>
            <option>Tula de Allende</option>
            <option>Tulancingo de Bravo</option>
            <option>Xochiatipan</option>
            <option>Xochicoatlán</option>
            <option>Yahualica</option>
            <option>Zacualtipán de Ángeles</option>
            <option>Zapotlán de Juárez</option>
            <option>Zempoala</option>
            <option>Zimapán</option>
        </select>
    
        <select id="localidad">
            <option disabled selected>Por localidad</option>
        </select>
    
        <select id="año">
            <option disabled selected>Por año</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
            <option>2025</option>
        </select>
    
        <select id="aviso">
            <option disabled selected>Cumple aviso</option>
            <option>Sí</option>
            <option>No</option>
        </select>
    
        <select id="recurso">
            <option disabled selected>Tipo de recurso</option>
            <option>MUNICIPAL</option>
            <option>ESTATAL</option>
            <option>FEDERAL</option>
        </select>
    
        <select id="fondo">
            <option disabled selected>Tipo de fondo</option>
            <option>FAFEF</option>
            <option>FAMEB</option>
            <option>PRISR</option>
            <option>ISAVU</option>
        </select>
    
        <select id="monto">
            <option disabled selected>Monto</option>
            <option>$0 - $100,000</option>
            <option>$100,001 - $500,000</option>
            <option>$500,001 - $1,000,000</option>
        </select>
    </div>
    <div id="cont-tabla">
        <div id="table-container">
            <table class="tabla-inicios">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>NOMBRE DE QUIEN DIRIGE EL OFICIO A LA CONTRALORÍA</th>
                        <th>CARGO</th>
                        <th>FECHA DE INGRESO SC</th>
                        <th>FECHA QUE RECIBE DICO</th>
                        <th>OBSERVACIONES</th>
                        <th>CUMPLE AVISO DE INICIO DE OBRA</th>
                        <th>DEPENDENCIA QUE EJECUTA LA OBRA</th>
                        <th>NOMBRE DE LA OBRA</th>
                        <th>MUNICIPIO</th>
                        <th>LOCALIDAD</th>
                        <th>CLAVE DE OBRA</th>
                        <th>TIPO DE RECURSO</th>
                        <th>FONDO</th>
                        <th>MONTO CONTRATADO</th>
                        <th>NÚMERO DE CONTRATO</th>
                        <th>FECHA DE INICIO DE OBRA (CONTRATO)</th>
                        <th>FECHA DE TÉRMINO DE OBRA (CONTRATO)</th>
                        <th>CONTRATISTA</th>
                        <th>FOLIO</th>
                        <th>NOMBRE DE QUIEN DIRIGE EL OFICIO A LA CONTRALORÍA</th>
                        <th>CARGO</th>
                        <th>FECHA DE INGRESO SC</th>
                        <th>FECHA QUE RECIBE DICO</th>
                        <th>OBSERVACIONES</th>
                        <th>CUMPLEN CONTRATISTAS</th>
                        <th class="fixed-column">Opciones</th>
                    </tr>
                </thead>
                <tbody>            
                    <tr>
                        <td>SC-015840</td>
                        <td>M.A.C. FELIX ADRIAN BRAMBILA MENDOZA</td>
                        <td>DIRECTOR GENERAL DEL INSTITUTO HIDALGUENSE DE LA INFRAESTRUCTURA FISICIA EDUCATIVA</td>
                        <td>28-05-2024</td>
                        <td>29-05-2024</td>
                        <td>SIN ANEXOS</td>
                        <td>SI</td>
                        <td>INHIFE</td>
                        <td>IMPERMEABILIZACION DE MODULO ATIPICO Y OBRA EXTERIOR EN LA PRIMARIA GENERAL BENITO JUAREZ...</td>
                        <td>ATITALAQUIA</td>
                        <td>ATITALAQUIA</td>
                        <td>2024/FAMAB-00100</td>
                        <td>ESTATAL</td>
                        <td>FAMEB</td>
                        <td>$769,594.24</td>
                        <td>13-INHIFE-FAMEB-24-009-2024 A-D-</td>
                        <td>15-05-2024</td>
                        <td>12-08-2024</td>
                        <td>CONSTRUCCIONES GODHEXA, S.A. DE CV.</td>
                        <td>SC-015077</td>
                        <td>EDSAHEL GODINEZ RODRIGUEZ</td>
                        <td>REPRESENTANTE LEGAL</td>
                        <td>21-05-2024</td>
                        <td>22-05-2024</td>
                        <td>SIN ANEXOS</td>
                        <td>SI</td>
                        <td class="fixed-column">
                            <i class="fa-solid fa-file-pdf" style="color: #000000;"></i>
                            <i class="fa-solid fa-pen" style="color: #000000;"></i>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
        
    </div>
    
    
    

</section>

<app-footer></app-footer>
<router-outlet></router-outlet>