<div class="modal-container">
    <div class="modal-content">
      <!-- Header del Modal -->
      <div id="header-modal">
        <h1>Agregar Inicio de obra - Dependencias</h1>
      </div>
  
      <!-- Formulario -->
      <form id="form-modal">
        
      </form>
  
      <!-- Footer del Modal -->
      <div id="footer-modal">
        <button type="button" (click)="cerrarModal()" id="cancelar">Cancelar</button>
        <button type="submit"  id="guardar">Guardar</button>
      </div>
    </div>
  </div>
  