/* Fondo del modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenedor del Modal */
.modal-content {
  background: white;
  border-radius: 10px;
  text-align: center;
  width: 850px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

/* Header */
#header-modal {
  background-color: #691B32;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  height: 5%;
}

/* Formulario */
#form-modal {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 82%;
}

/* Estilos de los campos */
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #691B32;
  border-radius: 5px;
}

/* Footer */
#footer-modal {
  background-color: #691B32;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 7%;
}

button {
  padding: 10px 25px;
  border: none;
  background: #BC955B;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #A67D4E;
}
#cancelar{
  margin-left: 20%;

}
#guardar{
  margin-right: 20%;
}
