<div class="modal-container">
  <div class="modal-content">        

      <!-- Header del Modal -->
      <div id="header-modal">
          <h1>Agregar Inicio de Obra - Dependencias</h1>
      </div>
      
      <div id="selector-tipo">
        <span class="nav-option" [class.active]="formularioActivo === 'dependencia'" (click)="cambiarFormulario('dependencia')">Dependencia</span> |
        <span class="nav-option" [class.active]="formularioActivo === 'contratista'" (click)="cambiarFormulario('contratista')">Contratista</span>
    </div>

      <!-- Mensaje informativo -->
      <p id="info-text">Llene los campos debidamente, revise la información con cuidado y detenimiento**</p>

      <!-- Formulario -->
      <form id="form-modal" [formGroup]="avisoForm" *ngIf="formularioActivo === 'dependencia'">
        <div class="form-section">
            <label for="noFolio" class="label-num">1. No. de Folio</label>
            <input type="text" id="noFolio" formControlName="noFolio" required>
        </div>
      
        <div class="form-section">
            <label for="nomDirigido" class="label-nom">2. Nombre de Quien Dirige el Oficio a la Contraloría</label>
            <input type="text" id="nomDirigido" formControlName="nomDirigido" required>
        </div>
      
        <div class="form-section">
            <label for="cargo" class="label-cargo">3. Cargo</label>
            <input type="text" id="cargo" formControlName="cargo" required>
        </div>
      
        <div class="form-section">
            <label for="fechaIngreso" class="label-fecha">4. Fecha de Ingreso SC</label>
            <input type="date" id="fechaIngreso" formControlName="fechaIngreso" required>
        </div>
      
        <div class="form-section">
            <label for="fechaRecibo" class="label-fecha">5. Fecha que Recibe DICO</label>
            <input type="date" id="fechaRecibo" formControlName="fechaRecibo" required>
        </div>
      
        <div class="form-section">
            <label for="observaciones" class="label-obs">6. Observaciones</label>
            <textarea id="observaciones" formControlName="observaciones"></textarea>
        </div>
      
        <div class="form-section">
            <label for="cumpleAviso" class="label-cumple">7. Cumple Aviso de Inicio</label>
            <select id="cumpleAviso" formControlName="cumpleAviso">
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
      
        <div class="form-section">
            <label for="dependencia" class="label-dependencia">8. Ente publico que ejecuta</label>
            <input type="text" id="dependencia" formControlName="dependencia" required>
        </div>
      
        <div class="form-section">
            <label for="nombreObra" class="label-obra">9. Nombre de la Obra</label>
            <textarea id="nombreObra" formControlName="nombreObra" required></textarea>
        </div>
      
        <!-- 10. Municipio -->
        <div class="form-section">
        <label for="municipio" class="label-municipio">10. Municipio</label>
        <select id="municipio" formControlName="municipio">
            <option value="">Selecciona un municipio</option>
            <option *ngFor="let mun of municipios" [value]="mun.clave">
            {{ mun.nombre }}
            </option>
        </select>
        </div>
    
        <div class="form-section">
        <label for="localidad" class="label-localidad">11. Localidad</label>
        <select id="localidad"
                formControlName="localidad"
                [disabled]="!localidades.length">
            <option value="">Selecciona una localidad</option>
            <option *ngFor="let loc of localidades" [value]="loc.nombre">
            {{ loc.nombre }}
            </option>
        </select>
        </div>
            
        <div class="form-section">
        <label for="claveObra" class="label-clave">12. Clave de Obra</label>

        <div class="input-with-action">
            <input type="text"
                id="claveObra"
                formControlName="claveObra"
                autocomplete="off"
                placeholder="Generación Automatica">

            <button type="button" *ngIf="claveObraManual" (click)="recalcularClaveObra()" class="link-btn" title="Recalcular clave">
            <i class="fa-solid fa-rotate-right"></i> Recalcular
            </button>
        </div>

        <small *ngIf="claveObraManual" style="display:block; color:#666;">
            Modo manual: no se autogenerará hasta que presiones “Recalcular”.
        </small>
        </div>

      
        <div class="form-section">
            <label for="tipoRecurso" class="label-recurso">13. Tipo de Recurso</label>
            <select id="tipoRecurso" formControlName="tipoRecurso">
                <option value="ESTATAL">ESTATAL</option>
                <option value="FEDERAL">FEDERAL</option>
                <option value="MUNICIPAL">MUNICIPAL</option>
            </select>
        </div>
      
        <div class="form-section">
            <label for="fondo" class="label-fondo">14. Fondo</label>
            <input type="text" id="fondo" formControlName="fondo">
        </div>
      
        <div class="form-section">
            <label for="numContrato" class="label-contrato">15. Número de Contrato</label>
            <input type="text" id="numContrato" formControlName="numContrato">
        </div>

        <div class="form-section">
            <label for="montoContratado" class="label-monto">16. Monto Contratado</label>
            <input type="text" id="montoContratado" formControlName="montoContratado">
        </div>            
      
        <div class="form-section">
            <label for="fechaInicio" class="label-fecha">17. Plazo de ejecución inicial</label>
            <input type="date" id="fechaInicio" formControlName="fechaInicio">
        </div>
      
        <div class="form-section">
            <label for="fechaTermino" class="label-fecha">18. Plazo de ejecución de terminación</label>
            <input type="date" id="fechaTermino" formControlName="fechaTermino">
        </div>
      
        <div class="form-section">
            <label for="contratista" class="label-contratista">19. Contratista</label>
            <input type="text" id="contratista" formControlName="contratista">
        </div>

        <div class="form-section">
            <label for="cumpleAvisoContratista" class="label-cumple">7. Cumple Aviso de Inicio</label>
            <select id="cumpleAvisoContratista" formControlName="cumpleAvisoContratista">
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
      </form>

      <!--FORMULARIO CONTRATISTAS-->
      <form id="form-modal" *ngIf="formularioActivo === 'contratista'" [formGroup]="contratistaForm">
        <div class="form-section">
            <label for="claveObra">1. Clave de obra</label>
            <input type="text" id="claveObra" formControlName="claveObra" required>
        </div>
      
        <div class="form-section">
            <label for="noFolio">2. No. de Folio</label>
            <input type="text" id="noFolio" formControlName="noFolio" required>
        </div>
      
        <div class="form-section">
            <label for="nomDirigido">3. Nombre de Quien Dirige el Oficio</label>
            <input type="text" id="nomDirigido" formControlName="nomDirigido" required>
        </div>
      
        <div class="form-section">
            <label for="cargo">4. Cargo</label>
            <input type="text" id="cargo" formControlName="cargo" required>
        </div>
      
        <div class="form-section">
            <label for="fechaIngreso">5. Fecha de Ingreso SC</label>
            <input type="date" id="fechaIngreso" formControlName="fechaIngreso" required>
        </div>
      
        <div class="form-section">
            <label for="fechaRecibo">6. Fecha que Recibe DICO</label>
            <input type="date" id="fechaRecibo" formControlName="fechaRecibo" required>
        </div>
      
        <div class="form-section">
            <label for="observaciones">7. Observaciones</label>
            <textarea id="observaciones" formControlName="observaciones"></textarea>
        </div>
      
        <div class="form-section">
            <label for="cumpleAviso">8. Cumple Aviso de Inicio</label>
            <select id="cumpleAviso" formControlName="cumpleAviso">
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
        </div>
      </form>
      
      
      <!-- Footer del Modal -->
      <div id="footer-modal">
        <button type="button" (click)="cerrarModal()" id="cancelar">Cancelar</button>
        <button type="submit" (click)="guardar()" id="guardar">Guardar</button>

      </div>
  </div>
</div>
